main.exe
gui/__pycache__/start.cpython-311.pyc
tray.png
gui/__pycache__/helptext.cpython-312.pyc
gui/__pycache__/info.cpython-312.pyc
gui/__pycache__/start.cpython-312.pyc
gui/__pycache__/StartupMovie.cpython-312.pyc
gui/__pycache__/start.cpython-312.pyc
